.productinfo.container{
	margin-top: 40px;
}
.product img{
    width: 100%;
	height: 100%;
} 
.box1 {
    text-align: center;
    padding: 20px 0 20px;
}

.box2 {
    padding: 10px;
	width: 100%;
}
.box2 h5{
	padding: 7px;
}

.box2 .productinfo-title{
	text-align: center;
	z-index: 10;
}
.productinfo.button .btn.btn-primary{
	background-color: orange;
	border: 1px solid orange;
	width: 25%;
}
.productinfo.button .btn.btn-primary:hover{
	background-color: white;
	color: orange;
}

.relatedproduct{
    margin-top: 150px;
}
