.productinfo.container{
	margin-top: 40px;
	padding: 100px;
	width: 100%;
}
.product img{
    width: 100%;
	height: 100%;
	
} 
.box1 {
    padding: 100px 20px;
	box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
	
}
.product-container{
	padding: 0px 200px;
	border-bottom: 1px;
}
.box2 {

    padding-left: 200px;
	width: 100%;
}
.box2 h5{
	padding-top: 7px;
}

.box2 .productinfo-title{
	letter-spacing: 2px;
}
.productinfo.button{
	margin-top: 100px;
}
.productinfo.button .btn.btn-primary{
	background-color: #A81111;
	border: 1px solid #A81111;
	width: 50%;
	height: 50px;
	border-radius: 0px;

}
.productinfo.button .btn.btn-primary:hover{
	background-color: white;
	color: #A81111;
}

.relatedproduct{
    margin-top: 150px;
}
