.footer-container{
    display: flex;
    background: rgb(234, 238, 245);
    background: linear-gradient(0deg, rgba(234, 238, 245, 1) 26%, rgba(213, 222, 243, 1) 100%, rgba(181, 191, 198, 1) 100%);
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    overflow: hidden;
    text-align: center;
}

.footer-container .footer-info-container .footer-title{
    color: #A81111 !important;
}

.footer-description{
    color: blue !important;
}
